body{
    font-family: 'Poppins', sans-serif;

}
#mission-color{
    color:orangered
}
.first-mission{
    width: 50%;
    padding-left: 12%;
    

    

}
.first-mission img{
    width:70%;
   
}
.ok{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green, violet);
    padding: 10px 40px;
    border-radius: 7px;
}

#border-img{
    border-left: 4px solid;
    border-image: linear-gradient(red blue);
    border-image-slice: 1;
    
}
.second-section{
    display: flex;
    border-top: 10%;
    
}
.second-part{
    width:40%;

}
.second-part img{
    width:60%;
    height: 50%;
}
#box-part1{
    
    border:5px;
    background-color: goldenrod;
    margin: 10px;
    border-radius: 12px ;
    padding:10px 30px;
    box-shadow: 5px 5px 5px green;
    
}
#box-part2{
    
    border:5px;
    background-color: blueviolet;
    margin: 10px;
    border-radius: 12px ;
    padding:10px 30px;
    box-shadow: 5px 5px 5px black;
    
}
#box-part3{
    
    border:5px;
    background-color: salmon;
    margin: 10px;
    border-radius: 12px ;
    padding:10px 30px;
    box-shadow: 5px 5px 5px blue;
    
}
#mission-center{
    text-align: center;
}
.half-width{
    width: 50%;
    border-color: 4px solid black;
    
   
}
.half-width img{
    width:40%;
    margin-left: 24%;
    
    
}
.third-section{
    display: flex;
    margin-top: 10%;
    padding-left: 10px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
   
}
.fourth-section{
    display: flex;
}
.fourth-div{
    width:50%;
    margin-left: 15%;
    margin-top: 10%;
}
.fourth-div img{
    width:45%;
}
.fifth-section{
    display: flex;
}
.fifth-div{
    width:50%;
    margin-left: 15%;
    margin-top: 10%;
    padding-right: 23px;
}
.fifth-div img{
    width:80%

}